# File Specification: https://gist.github.com/Shadows-of-Fire/88ac714a758636c57a52e32ace5474c1

# Apotheosis Enchantment Module Config

tooltips {
    # If enchanted book metadata (treasure, tradeable, etc) are shown in the tooltip.
    # Default: true
    B:"Show Enchanted Book Metadata"=true
}


